a {
  color: #61dafb;
}

.App-header {
  text-align: left;
  background-color: #282c34;
  min-height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  font-size: 24px;
  margin: 0 0 0 15px;
}

main {
  height: 94vh;
}

section.code {
  height: 47vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.code > div {
  flex: 1;
  padding: 3px;
  background: #bbb;
}

section.code > div > h2 {
  height: 20px;
  line-height: 20px;
  margin: 0;
  text-align: left;
  font-size: 16px;
}

section.preview {
  height: 47vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.preview .console {
  flex: 1;
  background: #bbb;
  padding: 3px;
}

section.preview .console h2 {
  height: 20px;
  line-height: 20px;
  margin: 0;
  text-align: left;
  font-size: 16px;
}

section.preview .console .console-content {
  height: calc(47vh - 26px);
  padding: 3px;
  box-sizing: border-box;
  background: #000;
  color: #f4f4f4;
}

section.preview iframe {
  border: 0;
  width: 100%;
  height: 47vh;
  flex: 2;
}
